.container{
    color: white;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.762);
    height: 200px;
    width: 200px;
    padding: 20px;
    margin: 20px 10px 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.clock{
    background-color: orange;
    height: 50px;
    width: 100px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
p{
    font-weight: bolder;
}
body{
    background-color: rgb(128, 128, 128);
    display: flex;
    justify-content: center;
    align-items: center;
}