#grey{
    height: 100px;
    width: 100px;
    background-color: grey;
}
#red{
    height: 100px;
    width: 100px;
    background-color: red;
}
#blue{
    height: 100px;
    width: 100px;
    background-color: blue;
}
#green{
    height: 100px;
    width: 100px;
    background-color: green;
}

.color_box{
    display:flex;
    justify-content: space-evenly;
    align-items: center;

}
.button{
    border: 3px solid black;
}
h1{
    display: flex;
    justify-content: center;
}