body{
    background-color: #212121;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
#form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
#guess{
    font-size: 20px;
}
#container{
  background-color: rgba(0, 0, 0, 0.335);
  padding: 20px;
  margin: 50px 10px 10px 10px;
  border-radius: 10px;
}
#result_parse{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
}
a{
    font-size: 36px;
    font-weight: bolder;
    color: white;
    text-decoration: none;
}